* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f0f2f5;
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
}

/* Toggle icon ki css */

.info-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 24px;
	color: #333;
	background: #fff;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info-box {
	display: none;
	position: absolute;
	top: 50px;
	right: 10px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	width: 250px;
	z-index: 1000;
}

.info-box a {
	text-decoration: none;
	color: #007bff;
}

.info-box a:hover {
	text-decoration: underline;
}

.info-box p {
	margin: 0;
	white-space: nowrap;
}

/* main css  */
.app {
    max-width: 500px;
    margin: auto auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
	position: relative;
	top: 200px;
	

}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    margin-bottom: 15px;
	
}

.form-input label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

#join-id {
    text-align: center;
    margin-top: 20px;
}

#join-id span {
    display: block;
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.file-input {
    border: 2px dashed #4CAF50;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.files-list .title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.files-list .item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.files-list .item .progress {
    font-size: 18px;
    color: #4CAF50;
}

.files-list .item .filename {
    font-size: 14px;
    color: #666;
}

.copy-share-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.copy-share-buttons button {
    flex: 1;
    margin: 0 5px;
}

h3{
	text-align: center;
	padding: 5px 5px;
}

.upload{
	display: none;
}

.alternate-page {
    text-align: center;
    font-family: cursive;
}
.alternate-page a{
    color : gray;
    text-decoration: none;
}

.logo{
    font-family: cursive;
}

/* Bahot Gandi css likhi h maine 😣😅 */